@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
h1 {
    flex-grow: 1;
    flex-shrink: 1;
    font-family: 'Indie Flower', cursive;
    font-weight: 900;
}

.homeH1 {
    color: red;
}

.homeDiv {
    background-color: white;
}

.jumboHome {
    background-color: white;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    padding: 10px;
    box-shadow: 5px 10px black;
}

.homeDesc {
    font-family: 'Indie Flower', cursive;
}

.homeH2 {
    font-weight: 800;
}

.homeH3 {
    color: red;
    font-weight: 800;
}